<footer class="page-footer font-small pt-5 px-5 pb-2" style=" background-color: rgb(59,11,94);">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4 footer-about wow fadeInUp animated"
          style="visibility: visible; animation-name: fadeInUp;">
          <h2 class="h1-responsive big-font text-left animated bounce infinite">RELOAD ENERGY POWDER</h2>
          <p class="normal-font text-left">
            Reload energy powder is a product of CHAMRON NOVEAU RESOURCES, A Drink Company, affiliated with the Ibadan
            based Pharmaceutical company ABC chemists, established since 1965
          </p>
        </div>
        <div class="col-md-5 col-lg-5 footer-contact wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown;">
          <h3>CONTACT</h3>
          <p class="normal-font text-left"><img src="../../assets/icons8-user-location-18.png" alt="location">4 Ayinde
            Close,
            Off Old Ife Road,
            Ibadan, Oyo</p>
          <p class="normal-font text-left"><img src="../../assets/icons8-mobile-18.png" alt="phone">
            <span>Phone: +234 905 713 4667,
              +234 816 526 2928
            </span>
          </p>
          <p class="normal-font text-left"><img src="../../assets/icons8-email-18.png" alt="mail"> Email: <a
              href="mailto:reloadenergypowder@gmail.com">reloadenergypowder@gmail.com</a></p>
        </div>
        <div class="col-md-3 col-lg-3 footer-social wow fadeInUp animated"
          style="visibility: visible; animation-name: fadeInUp;">
          <h3>FOLLOW US</h3>
          <div class="row mb-3">
            <div class="col">
              <a href="https://www.instagram.com/reloadenergypowder/"><img src="../../assets/icons8-instagram-60.png"
                  alt="IG"></a>
            </div>
            <div class="col">
              <a href="https://twitter.com/Reload_Energy?s=20"><img src="../../assets/icons8-twitter-60.png"
                  alt="twitter"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-8"></div>
    <div class="col-md-4 text-right">
      <a routerLink="/admin" mdbBtn role="button" class="btn" block="true" color="red">LOGIN AS AN ADMIN</a>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="col-12 footer-copyright">
      <p class="text-center pt-3 normal-font">© CHAMRONNOVEAURESOURCES 2020</p>
    </div>
  </div>
</footer>
