.view {
  background: url("../../assets/bull\ icon\ 2.png")no-repeat center center;
  background-size: contain;
  height: 90vh;
}

.my-rgba {
  background-color: rgba(135, 48, 197, 0.5);
  color: white;
}
