<div style="margin-top: 90px; margin-bottom: 90px;">
  <div style="margin-bottom: 80px">
    <mdb-card>
      <div class="view intro-2">
        <div class="mask my-rgba flex-center">
          <div class="container text-center white-text">
            <h1 class="white-text font-about animated bounce">ABOUT US</h1>
            <span>
              <div class="row py-2">
                <div class="col-sm-12">
                  <p class="text-white brand-font animated slideInLeft"><strong>RELOAD</strong> is uniquely formulated
                    to give instant
                    energy,
                    revitalize and refresh the body</p>
                </div>

              </div>

            </span>
          </div>
        </div>
      </div>
    </mdb-card>
  </div>
  <div class=" container text-center z-depth-5 px-5 py-5 my-2 animated wow slideInLeft" data-wow-duration="10s"
    style="border-radius: 20px">
    <p class="text-font">
      Reload energy powder is a product of CHAMRON NOVEAU RESOURCES, A Drink Company, affiliated with the Ibadan based
      Pharmaceutical company ABC chemists, established since 1965. ABC Chemists remains one of the oldest
      pharmaceutical firms renowned for its top notch manufacturing and retail channels.
      Since its inception, CHAMRON NOVEAU RESOURCES has stayed true to its mission in serving people by providing
      healthy and quality energy drinks made from natural ingredients. One of these products is the highly
      nutritious RELOAD Energy Powder, an hundred percent cacao based energy drink powder. The product RELOAD is the
      fruition of years of research by Professors, researchers of top Universities in and outside Nigeria, and in
      conjunction with leading researchers in pharmacology.
      The RELOAD Energy Powder has presented itself to the teeming consumers of energy drinks as the most reliable
      source
      of energy in the best Natural form. 

    </p>


  </div>
</div>
