<div class="container " style="margin-top: 90px; margin-bottom: 90px">
  <div class="row">
    <div class="m-4" style="border-bottom: 3px solid rgb(59,11,94); width: 80px;">
      <h2 class="h1-responsive big-font">
        <span>TESTIMONIES</span>
      </h2>
    </div>
  </div>
  <div class="row">
    <mdb-card class="z-depth-4" style="border-radius: 10px">
      <mdb-card-body>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <img class="img-fluid w-100" src="../../assets/reload_product_mini.jpeg" alt="testimonies img">
          </div>
          <div class="col-sm-12 col-md-6">
            <p class="normal-font">
              As a Marketer who loves her job, waking up to each new day brings me hope. Aside the joy that comes with
              meeting new people each day, I find fulfillment in putting smiles on the faces of my client.
              But one morning, as I was resuming to work, I suddenly felt as if all my energy had been drained and
              with
              such ill feeling, nobody had to tell me what I was dealing with – accumulated stress and fatigue! By my
              quick
              calculations, I knew that my day was already ruined and my trip to Lagos for an important meeting with
              one
              of
              my major clients later that morning was also far from reality. But these were little problems compared
              to
              what I would tell my boss who was already anticipating for some good news from my Lagos trip. ‘Knock,
              knock,’
              came a sound on the door. I managed to say the customary ‘Please, come in,’ and my visitor – who turned
              out to
              be my boss announced that he was personally paying a short courtesy visit to wish me luck before my
              trip.
              But seeing me in such a state got my boss more worried than I could possibly imagine. After he
              listened to
              my complaints, he rushed out and came back with a blue sachet and instructed, in his very baritone
              voice😅:
              ‘Take this with water and you’ll feel like a superman instantly!’  He left and I gulped it down like it
              was
              cold tea. Guess what? My boss was right. This energy boosting powder did not only work like magic on my
              body
              but made my Lagos trip a success story. ‘Oh! I thought, the makers of this wonderful product must be God
              sent! 💪🏾💪🏾’ “
            </p>
            <p class="normal-font text-right">
              – From a Satisfied Customer
            </p>
          </div>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="container" style="margin-top: 60px; margin-bottom: 60px">
    <div class="row">

      <mdb-card class="z-depth-4 hoverable h-20" style="border-radius: 15px">
        <mdb-card-body class="rounded">
          <div class="row">
            <div class="col-md-6">
              <p class="normal-font">
                As a person that works out daily, I hadn’t eaten that day and I was feeling weak and famished. I got
                home
                in the evening and I was so weak that I didn’t even have enough energy to cook something nice to eat, so
                I
                just laid on my bed waiting for miracle to happen. Suddenly, I just remembered an energy product I was
                gifted at a program I attended during the course of that day, it was RELOAD energy powder. I took a
                sachet
                from the pack and poured in my mouth, then I drank a sachet of cold water on it. Instantly I had
                sufficient energy to cook my food and even run a marathon. Since then I have been a loyal consumer of
                the
                energy powder.
              </p>
              <p class="normal-font text-right">
                – From another Satisfied Customer
              </p>
            </div>
            <div class="col-md-6">
              <img src="../../assets/deji_reload_mini.jpeg" class="img-fluid" alt="reload testimony 2">
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>

    </div>
  </div>
  <div class="row">
    <mdb-card class="z-depth-4" style="border-radius: 10px">
      <mdb-card-body>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <img class="img-fluid w-100" src="../../assets/sandra_reload.jpeg" alt="testimonies img">
          </div>
          <div class="col-sm-12 col-md-6">
            <p class="normal-font">
              Hi, my name's Sandra. I'm an undergraduate student. I stay off campus and my hostel is atleast 30 minutes
              walk to the school gate. Trekking to and fro to school on a daily basis sucks energy from me and some few
              times, I get to my classes late and totally tired that assimilation becomes a lil bit difficult. All these
              changed when I was introduced to Reload Energy Powder. The energy rush I got after taking it is so
              amazing. I got to do a lot of things faster and without stress. Assimilation became easier. Reload Energy
              Powder is a life saver and the best!!
            </p>
          </div>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>


  <div class="container" style="margin-top: 60px; margin-bottom: 60px">
    <div class="row">

      <mdb-card class="z-depth-4 hoverable h-20" style="border-radius: 15px">
        <mdb-card-body class="rounded">
          <div class="row">
            <div class="col-md-6">
              <p class="normal-font">
                Hi, my name's Muyiwa. I'm an undergraduate of the Federal University of Akure(FUTA). My classes on
                weekdays are always so
                stressful, like 7a.m to 7p.m classes every weekday stressful. Most days, I get home from school totally
                exhausted and collapse on my bed without eating till I wake up the next morning. Then I heard of Reload
                Energy Powder from a friend and acquired my own. Got home late and exhausted as usual, and used the
                powder, the amount of energy I got was surprising, i cleaned my whole room, cooked and washed some
                plates
                and ate. My sleep that night was perfect, and I woke up the next day fully ready for the day. Reload
                Energy Powder is the best!!
              </p>
              <p class="normal-font text-right">
              </p>
            </div>
            <div class="col-md-6">
              <img src="../../assets/emma_reload_mini.jpeg" class="img-fluid" alt="reload testimony 2">
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>

    </div>
  </div>
</div>
