  <div class="my-5 product-font" style="margin-top: 100px; margin-bottom: 100px">
    <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient1.jpg')">
      <div class="text-white text-center py-5 px-4 my-5">
        <div>
          <h2 class="card-title big-font h1-responsive pt-3 mb-5 font-bold"><strong>RELOAD ENERGY POWDER</strong></h2>
          <p class="mx-5 mb-5">
            Wake up the energy in you with a tang of lemon and cocoa
          </p>
        </div>
      </div>
    </mdb-card>
  </div>

  <div class="container text-center my-4">
    <h1 class="h1-responsive big-font">Our Product</h1>

    <p> RELOAD energy drink powder is high in the following anti-oxidants in their natural form.</p>

    <p>Anandamide – The Chemical responsible for feeling of bliss;</p>

    <p>PheneThylamine – a neuro transmitter known as Love molecule;</p>

    <p>Dopamine – a neuro transmitter that boost motivation and pleasure;</p>

    <p>Coumarin – has appetite suppressant, blood thinner, anti-tumor properties;</p>

    <p>Silosterol (Decreases LDL Cholesterol) Caffeine – increases alertness and stamina.</p>

    <p>RELOAD has magnesium and chromium which are excellent for cardiovascular health. Other nutrients include:</p>
    <p> Vitamin A
    </p>

    <p>Vitamin B (1,2,3,5 and 6)</p>

    <p>Vitamin C </p>

    <p>Vitamin E</p>

    <p>Copper</p>

    <p>Calcium</p>

    <p>Manganese</p>

    <p>Zinc</p>

    <p>Sulphur</p>

    <p>Iron</p>

    <p>Phosphorus</p>

    <p>Soluble Fiber</p>

    <p>Made from an all natural ingredient, RELOAD Energy Powder contains cocoa high in antioxidants and also rich in
      Sulphur, Calcium, Carotene, Thiamin, Riboflavin and Magnesium. Antioxidants help in reversing stress and healing
      of
      damaged tissues, while also curbing harmful radicals. At CNR, Raw Cacao has been processed in a special process
      into
      cocoa powder allowing the cocoa powder to retain the powerful antioxidant and healthy benefits of raw cacao which
      is
      one of nature’s most powerful antioxidants.</p>
  </div>
