<main class="main">
  <div class="z-depth-3">
    <mdb-carousel [animation]="'slide'">
      <mdb-carousel-item>
        <img class="d-block w-100 img-responsive img-fluid" src="../../assets/reloadenergypowder.jpg" alt="First slide">

      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100 img-responsive img-fluid" src="../../assets/IMG_1191.JPG.jpg" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100 img-responsive img-fluid" src="../../assets/PHOTO-2019-03-20-16-28-53 (2).jpg"
          alt="Third slide">
        <div class="carousel-caption">
          <h3 class="h3-responsive carousel-heading">GET INSTANT ENERGY TO FINESSE YOUR DAY</h3>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100 img-responsive img-fluid" src="../../assets/IMG_5314.JPG.jpg" alt="Third slide">
        <div class="carousel-caption">
          <h3 class="h3-responsive carousel-heading">A SECOND TO NONE NATURAL ENERGY GIVER</h3>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>


  <div class="container" style="margin-top: 80px; margin-bottom: 80px;">
    <div class="row d-flex justify-content-center">
      <h1 class="h1-responsive big-font underline">ABOUT US</h1>
      <!-- About -->
      <section class="page-section" id="about">
        <div class="container py-5">

          <div class="row">
            <div class="col-lg-12">
              <ul class="timeline">
                <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted text-right normal-font">
                        Reload energy powder is a product of CHAMRON NOVEAU RESOURCES, A Drink Company, affiliated with
                        the Ibadan based Pharmaceutical company ABC chemists, established since 1965. ABC Chemists
                        remains one of the
                        oldest pharmaceutical firms renowned for its top notch manufacturing and retail channels.
                      </p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-body">
                      <p class="text-muted normal-font">
                        Since its inception, CHAMRON NOVEAU RESOURCES has stayed true to its mission in serving people
                        by providing
                        healthy and quality energy drinks made from natural ingredients. One of these products is the
                        highly
                        nutritious RELOAD Energy Powder, an hundred percent cacao based energy drink powder. The product
                        RELOAD is the
                        fruition of years of research by Professors, researchers of top Universities in and outside
                        Nigeria, and in
                        conjunction with leading researchers in pharmacology.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                  </div>
                  <div class="timeline-panel">

                    <div class="timeline-body">
                      <p class="text-muted normal-font">
                        The RELOAD Energy Powder has presented itself to the teeming consumers of energy drinks as the
                        most reliable
                        source
                        of energy in the best Natural form. 
                      </p>
                    </div>
                  </div>
                </li>

                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <a routerLink="/register" class="text-white normal-font">
                      <h4>Be Part
                        <br>Of Our
                        <br>Story!</h4>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container banner my-5">
    <img class="img-fluid w-100" src="../../assets/PHOTO-2019-05-13-06-34-44.jpg" alt="reload banner">
  </div>

  <div class="container my-3" style="margin-top: 70px; margin-bottom: 70px">
    <div class="row d-flex justify-content-center my-5">
      <div class="m-4" style="border-bottom: 4px solid rgb(59,11,94)">
        <h2 class="h1-responsive big-font">
          <span>TESTIMONIES</span>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 ml-auto mb-2">
        <mdb-card class="z-depth-2" style="border-radius: 10px;">
          <mdb-card-img class="img-fluid z-depth-1" src="../../assets/reload_product_mini.jpeg" alt="dag">
          </mdb-card-img>
          <mdb-card-body>
            <p class="text-muted normal-font">
              As a Marketer who loves her job, waking up to each new day brings me hope. Aside the joy that comes with
              meeting new people each day, I find fulfillment in putting smiles on the faces of my client.
              But one morning, as I was resuming to work...
            </p>
            <a class="link-text text-right" routerLink="/testimonies">
              <h5 class="waves-light" mdbWavesEffect>Read more
                <img src="../../assets/icons8-chevron-right-18.png" alt="chevron-right">
              </h5>
            </a>
          </mdb-card-body>
        </mdb-card>


      </div>
      <div class="col-md-4 ml-auto mb-2">
        <mdb-card class="z-depth-2" style="border-radius: 10px;">
          <mdb-card-img class="img-fluid z-depth-1" src="../../assets/deji_reload_mini.jpeg" alt="dag">
          </mdb-card-img>
          <mdb-card-body>
            <p class="text-muted normal-font">
              As a person that works out daily, I hadn’t eaten that day and I was feeling weak and famished. I got
              home
              in the evening and I was so weak that I didn’t even have enough energy to cook something nice to eat, so
              I
              just laid on my bed waiting for miracle to happen...
            </p>
            <a class="link-text text-right" routerLink="/testimonies">
              <h5 class="waves-light" mdbWavesEffect>Read more
                <img src="../../assets/icons8-chevron-right-18.png" alt="chevron-right">
              </h5>
            </a>
          </mdb-card-body>
        </mdb-card>


      </div>

      <div class="col-md-4 mb-2">
        <mdb-card class="z-depth-2" style="border-radius: 10px;">
          <mdb-card-img class="img-fluid z-depth-1" src="../../assets/emma_reload_mini.jpeg" alt="dag">
          </mdb-card-img>
          <mdb-card-body>
            <p class="text-muted normal-font">
              Hi, my name's Muyiwa. I'm an undergraduate of the Federal University of Akure(FUTA). My classes on
              weekdays are always so
              stressful, like 7a.m to 7p.m classes every weekday stressful. Most days, I get home from school totally
              exhausted and collapse on my bed without eating till I wake up the next morning...
            </p>

            <a class="link-text text-right" routerLink="/testimonies">
              <h5 class="waves-light" mdbWavesEffect>Read more
                <img src="../../assets/icons8-chevron-right-18.png" alt="chevron-right">
              </h5>
            </a>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</main>
